<!--label for="recipe_name">Recipe Name</label>
<input id="recipe_name" name="name" type="text" value="<%= @recipe_name %>">
</br>
<label for="recipe_contents">Type your recipe here:</label>
</br>
<textarea rows="8" cols="50" id="recipe_contents" name="contents" value="<%= @recipe_contents %>"></textarea>
</br-->
<%= form_for(@recipe) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :contents %>
    <%= f.text_area :contents %>
  </div>
   <%= f.submit(:class => "btn btn-primary") %>
<% end %>