.container
  .form-horizontal
    = form_for(@recipe) do |f|
      = form_errors_for @recipe
      .form-group
        = f.label :contributor
        = f.collection_select :contributor_id, Contributor.all, :id, :name, include_blank: "Please select"
      .form-group
        = f.label :title
        = f.text_field :name
        %span.help-block
          = f.object.errors[:name].join(", ")
      .form-group
        = f.label :directions
        = f.text_area :contents
        %span.help-block
          = f.object.errors[:name].join(", ")
      .form-group
        = f.label :tag
        .checkbox-inline= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, { }, { :multiple => true }
      .form-group
        = f.submit(:class => "btn btn-primary")

