<h1>Recipes</h1>


<ul>
  <% @recipes.each do |recipe| %>
    <!--li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li-->
    <li><%= link_to recipe.name, recipe_path(recipe.id) %></li>
  <% end %>
</ul>

<h3>Add a Recipe</h3>

<form action="/recipes" method="post">

	<!-- contributor id is not added to table, don't know how to integrate drop down into form_for-->
	
  <select name="contributor_id">
    <% Contributor.all.each do |contributor| %>
      <option value="<%=contributor.id%>"><%= contributor.name %></option>
    <% end %>
  </select>
  </br>
  <%= render('form') %>
  <!--button>Create Recipe</button-->
</form>



