%table
  %tr.tag-row
    %td
      %h3= @recipe.name
    %td#tag-buttons
      = link_to "Edit", edit_recipe_path(@recipe),
        :class => "btn btn-default btn-xs"
      = link_to "Delete", recipe_path(@recipe),
        :confirm => "You sure?",
        :method => "delete",
        :class => "btn btn-danger btn-xs"
%br
%dl.dl-horizontal
  %dt Contributor:
  %dd= @recipe.contributor.name if @recipe.contributor
  %dt Directions:
  %dd= simple_format (@recipe.contents)
  %dt Tags:
  %dd= @recipe.tags.map(&:name).join ', '
  %dt Rating
  %dd
    = form_for [@recipe, @star] do |f|
      = f.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], :include_blank => "Select One"
      = f.submit "Rate this recipe", :class => 'btn btn-default btn-xs'
