%h3= @recipe.name
%dl
  %dt Contributor
  %dd= @recipe.contributor.name
  %dt Instructions:
  %dd= simple_format (@recipe.contents)
  %dt Tags
  %dl= @recipe.tags.map(&:name).join ', '
%h3 Rate
= form_for [@recipe, @star] do |f|
  = f.select :rating, [[1.0, 1], [2.0, 2], [3.0, 3], [4.0, 4], [5.0, 5]]
  = f.submit "Rate this recipe"

%p= link_to "Edit", edit_recipe_path(@recipe)
%p= link_to "Delete", recipe_path(@recipe),
    :confirm => "You sure?",
    :method => "delete"